.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.factorypath
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
test-output/
bin/
nbbuild/

nbdist/
.nb-gradle/


#build files
/.classpath
.classpath
